<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">
    <div class="navbar-header">
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle active" data-toggle="gridmenu"
            aria-expanded="true">
            <!-- <img class="navbar-brand-logo" src="assets/images/logo.png" title="Remark"> -->

            <span class="navbar-brand-text hidden-xs-down">CaQui Questions!</span>
        </div>
    </div>

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->

        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse"></div>

        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon md-search" aria-hidden="true"></i>

                        <input type="text" class="form-control" name="site-search" placeholder="Search...">

                        <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                            data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>

        <!-- End Site Navbar Seach -->
    </div>
</nav>

<!-- Page -->

<div class="page animation-fade page-profile" ui-view="ui-view">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <!-- Page Widget -->

                <div class="widget widget-shadow text-center">
                    <div class="widget-header">
                        <div class="widget-header-content">
                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                <img alt="..." src="/img/profile.webp">
                            </a>

                            <h4 class="profile-user ng-binding">{{user.name}}</h4>
                        </div>
                    </div>

                    <div class="widget-footer">
                        <div class="row no-space">
                            <div class="col-xs-12">
                                <strong class="profile-stat-count">Correo</strong>

                                <span class="ng-binding">{{user.email}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Page Widget -->
            </div>

            <div class="col-lg-9">
                <!-- Panel -->

                <div class="panel">
                    <div class="panel-body nav-tabs-animate">
                        <uib-tabset active="">
                            <uib-tab index="0" heading="Questionarios">
                                <button ui-sref="main.createQuestionary" type="button" class="btn btn-floating btn-danger btn-add-riesgo pull-right">
                                    <i class="icon wb-plus" aria-hidden="true"></i>
                                </button>

                                <div class="tab-content animation-fade col-md-12" ng-repeat="questionary in user.questionaries">

                                    <div class="alert alert-info alert-dismissible" role="alert"
                                        ng-if="user.questionaries.length == 0">
                                        <i class="icon  wb-info-circle" aria-hidden="true"></i>

                                        No hay cuestionarios agregados para este usuario
                                    </div>

                                    <div class="media is-loading">
                                        <div class="media-left">
                                            <img ng-if="archivo.usuarios_codigo" src="/" alt="" class="avatar">

                                            <i></i>
                                        </div>

                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="media-heading">{{questionary.name}}</h4>
                                                    <p class="name">
                                                        {{questionary.description}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="pull-left btn-show-estrategias">
                                            <button type="button"
                                                ng-click="questionary.showQuestions = !questionary.showQuestions"
                                                class="btn btn-outline btn-icon btn-primary btn-round">
                                                <i class="icon wb-chevron-down" aria-hidden="true"
                                                    ng-class="{'wb-chevron-down': questionary.showQuestions == false || !questionary.showQuestions , 'wb-chevron-up': questionary.showQuestions == true }"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <hr>

                                    <div uib-collapse="!questionary.showQuestions">
                                        <div class="tab-pane animation-fade active margin-top-35" id="all_contacts"
                                            role="tabpanel">
                                            <h4 class="example-title">Preguntas</h4>

                                            <button type="button" ng-disabled="archivo.id==0"
                                                ui-sref="main.personal.estrategia({archivoId:archivo.id,riesgoId:archivo.riesgo.id})"
                                                class="btn btn-floating btn-success btn-sm btn-add-estrategia pull-right">
                                                <i class="icon wb-plus" aria-hidden="true"></i>
                                            </button>

                                            <br>

                                            <ul class="list-group">
                                                <div class="alert alert-info alert-dismissible" role="alert"
                                                    ng-if="questionary.questions.length == 0">
                                                    <div>
                                                        <i class="icon  wb-info-circle" aria-hidden="true"></i>

                                                        No hay preguntas en este cuestionario <span class="addPointer" ui-sref="main.createQuestion">agregue preguntas ahora</span>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>

                                        <hr>
                                    </div>
                                </div>
                                <hr>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>

                <!-- <uib-tab index="1" heading="Academica">
                                  <div class="tab-content animation-fade">
                                      Informacion Academica
                                  </div>
                              </uib-tab> -->
            </div>
        </div>

        <!-- End Panel -->
    </div>
</div>

<!-- End Page -->
<!-- Footer -->

<footer class="site-footer">
    <div class="site-footer-right">© 2019</div>

    <div class="text-center">
        Js.mantilla

        <i class="green-600 wb wb-heart"></i>
    </div>
</footer>

<script type="text/ng-template" id="alertas.html">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">{{data.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="" role="alert">

                    <p class="font-size-20"> {{data.text}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
                <button type="button" class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
            </div>
        </div>
    </div>
</script>