<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse" role="navigation">
    <div class="navbar-header">
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle active" data-toggle="gridmenu"
            aria-expanded="true">
            <!-- <img class="navbar-brand-logo" src="assets/images/logo.png" title="Remark"> -->

            <span class="navbar-brand-text hidden-xs-down">CaQui Questions!</span>
        </div>
    </div>

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->

        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse"></div>

        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon md-search" aria-hidden="true"></i>

                        <input type="text" class="form-control" name="site-search" placeholder="Search...">

                        <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                            data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>

        <!-- End Site Navbar Seach -->
    </div>
</nav>

<!-- Page -->

<div class="page animation-fade page-profile" ui-view="ui-view">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <!-- Page Widget -->

                <div class="widget widget-shadow text-center">
                    <div class="widget-header">
                        <div class="widget-header-content">
                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                <img alt="..." src="/img/man.png">
                            </a>

                            <h4 class="profile-user ng-binding">{{user.name}}</h4>
                        </div>
                    </div>

                    <div class="widget-footer">
                        <div class="row no-space">
                            <div class="col-xs-12">
                                <strong class="profile-stat-count">Correo</strong>

                                <span class="ng-binding">{{user.email}}</span>
                                <div>
                                    <button type="button" ng-click="logout()"
                                        class="btn btn-floating btn-danger btn-sm">
                                        <i class="icon wb-power" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Page Widget -->
            </div>

            <div class="col-lg-9">
                <!-- Panel -->

                <div class="panel">
                    <div class="panel-body nav-tabs-animate">
                        <uib-tabset active="">
                            <uib-tab index="0" heading="Questionarios">
                                <div ng-if="questionaries.length == 0" class="row">
                                    <div class="alert alert-info alert-dismissible col-md-12 margin-top-35"
                                        role="alert">
                                        <p>
                                            <i class="icon  wb-info-circle" aria-hidden="true"></i> No hay cuestionarios
                                            agregados para este usuario
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-content animation-fade col-md-12"
                                    ng-repeat="questionary in questionaries track by $index">
                                    <div class="media is-loading">
                                        <div class="media-left">
                                            <img ng-if="archivo.usuarios_codigo" src="/" alt="" class="avatar">

                                            <i></i>
                                        </div>

                                        <div class="media-body">
                                            <div class="row"
                                                ng-mouseover="questionaries[$index].showOptions = true"
                                                ng-mouseleave="questionaries[$index].showOptions = false">
                                                <div class="col-md-10">
                                                    <h4 class="media-heading">{{questionary.name}}</h4>
                                                    <p class="name">
                                                        {{questionary.description}}
                                                    </p>
                                                </div>
                                                <div ng-hide="!questionaries[$index].showOptions"
                                                    class="animation-fade">
                                                    <div class="col-md-1">
                                                        <button type="button"
                                                            ui-sref="main.updateQuestionary({questionaryId:questionary.id})"
                                                            class="btn btn-floating btn-warning btn-sm">
                                                            <i class="icon wb-edit" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button type="button" ng-click="deleteQuestionary(questionary)"
                                                            class="btn btn-floating btn-danger btn-sm">
                                                            <i class="icon wb-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="pull-left btn-show-estrategias">
                                            <button type="button"
                                                ng-click="cuestionario[$index].showQuestions = !cuestionario[$index].showQuestions"
                                                class="btn btn-outline btn-icon btn-primary btn-round">
                                                <i class="icon wb-chevron-down" aria-hidden="true"
                                                    ng-class="{'wb-chevron-down': cuestionario[$index].showQuestions == false || !cuestionario[$index].showQuestions , 'wb-chevron-up': cuestionario[$index].showQuestions == true }"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <hr>

                                    <div uib-collapse="!cuestionario[$index].showQuestions">
                                        <div class="tab-pane animation-fade active margin-top-35" id="all_contacts"
                                            role="tabpanel">
                                            <h4 class="example-title">Preguntas</h4>

                                            <button ng-if="questionary.questions.length == 0" type="button"
                                                ui-sref="main.createQuestion({questionaryId:questionary.id})"
                                                class="btn btn-floating btn-success btn-sm btn-add-estrategia pull-right">
                                                <i class="icon wb-plus" aria-hidden="true"></i>
                                            </button>

                                            <br>

                                            <ul class="list-group">
                                                <div class="alert alert-info alert-dismissible" role="alert"
                                                    ng-if="questionary.questions.length == 0">
                                                    <div>
                                                        <i class="icon  wb-info-circle" aria-hidden="true"></i>
                                                        No hay preguntas en este cuestionario <span class="addPointer"
                                                            ui-sref="main.createQuestion({questionaryId:questionary.id})">agregue
                                                            preguntas ahora</span>
                                                    </div>
                                                </div>
                                                <div ng-repeat="question in questionary.questions">
                                                    <div ng-mouseover="question.edit = true"
                                                        ng-mouseleave="question.edit = false" class="questions"
                                                        ng-class="{'question-on-hover':question.edit, 'animation-reverse':!question.edit , 'box-shadow':question.edit}">
                                                        <button type="button" ng-click="deleteAnswer(question)"
                                                            ng-hide="!question.edit"
                                                            class="animation-fade btn btn-icon btn-sm btn-danger pull-right btn-outline btn-round margin-left-10">
                                                            <i class="icon wb-trash" aria-hidden="true"></i>
                                                        </button>
                                                        <button type="button"
                                                            ui-sref="main.updateQuestion({questionId:question.id})"
                                                            ng-hide="!question.edit"
                                                            class="animation-fade btn btn-icon btn-sm btn-info pull-right btn-outline btn-round">
                                                            <i class="icon wb-pencil" aria-hidden="true"></i>
                                                        </button>
                                                        <h5>{{questionary.questions.indexOf(question) +1 }})
                                                            {{question.value}}</h5>
                                                        <ol type="A">
                                                            <div ng-repeat="answer in question.answers">
                                                                <li>
                                                                    <p>{{answer.value}} <span ng-if="answer.correct==1">
                                                                            <i class="icon  wb-check-mini"
                                                                                aria-hidden="false"></i></span>
                                                                    </p>
                                                                </li>
                                                            </div>
                                                        </ol>
                                                    </div>

                                                </div>
                                                <div>
                                                    <button ng-if="questionary.questions.length != 0" type="button"
                                                        ui-sref="main.createQuestion({questionaryId:questionary.id})"
                                                        class="btn-add-question btn btn-floating btn-success btn-sm btn-add-estrategia pull-right">
                                                        <i class="icon wb-plus" aria-hidden="true"></i>
                                                    </button>
                                                </div>

                                            </ul>
                                        </div>

                                        <hr>
                                    </div>
                                </div>
                                <hr>
                            </uib-tab>

                        </uib-tabset>
                    </div>
                    <div class="addQuestionaryPadding">
                        <button ui-sref="main.createQuestionary" type="button"
                            class="btn btn-floating btn-success margin-create-questionary pull-right">
                            <i class="icon wb-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <!-- <uib-tab index="1" heading="Academica">
                                  <div class="tab-content animation-fade">
                                      Informacion Academica
                                  </div>
                              </uib-tab> -->
            </div>
        </div>

        <!-- End Panel -->
    </div>
</div>

<script type="text/ng-template" id="alertas.html">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">{{data.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="" role="alert">

                    <p class="font-size-20"> {{data.text}}</p>
                    <h3 class="text-center"><strong>{{data.value}}</strong></h3>
                    <div class="alert alert-warning alert-dismissible" role="alert" ng-if="data.warning">
                        <p><i class="icon wb-info-circle" aria-hidden="true"></i> {{data.warning}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
                <button type="button" class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
            </div>
        </div>
    </div>

</script>
<!-- End Page -->
<!-- Footer -->

<footer class="site-footer">
    <div class="site-footer-right">© 2019</div>

    <div class="text-center">
        Js.mantilla

        <i class="green-600 wb wb-heart"></i>
    </div>
</footer>