<div class="page-login layout-full page-dark">
    <div class="vertical-align text-center">
        <div class="page-content vertical-align-middle animation-slide-top animation-duration-1 initial-div">
            <div class="brand">
                <h2 class="brand-text">CaQui Questions!</h2>
            </div>
            <p>Registrate para poder usar CaQui Questions</p>
            <form method="post" ng-submit="register()">
                <div class="form-group">
                    <label class="sr-only" for="inputName">Nombre</label>
                    <input type="text" class="form-control" id="inputName" name="name" ng-model="user.name"
                        placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputEmail">Correo electrónico</label>
                    <input type="email" class="form-control" id="inputEmail" ng-model="user.email" name="email"
                        placeholder="Correo electrónico">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="inputPassword">Password</label>
                    <input type="password" ng-model="user.password" class="form-control" id="inputPassword"
                        name="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Registar</button>
            </form>
            <p>¿Ya tienes una cuenta? Por favor, <a ui-sref="login">Inicia sesión</a></p>

            <footer class="page-copyright page-copyright-inverse">
                <div class="social">
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-twitter" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-facebook" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-icon btn-pure" href="javascript:void(0)">
                        <i class="icon bd-dribbble" aria-hidden="true"></i>
                    </a>
                </div>
            </footer>
        </div>
    </div>
</div>