.addPointer{
    cursor: pointer;
    text-decoration: underline;
}

.answersPadding{
    padding-bottom: 1rem;
}

.answerIcon{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

.addQuestionaryPadding{
    padding-bottom: 8rem;
    margin: 3rem;
}

.question-on-hover{
    /* border-top: 1px solid #8fd8e1;
    padding-top: 1rem; */
}