.addPointer{
    cursor: pointer;
    text-decoration: underline;
}

.answersPadding{
    padding-bottom: 1rem;
}

.answerIcon{
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
}

.addQuestionaryPadding{
    padding-bottom: 8rem;
    margin: 3rem;
}

.bold-text{
    font-weight: bold;
}

.box-shadow{
    border: 1px solid #e1e1ea;
    border-radius: 6px;
}

.questions{
    padding: 1rem;
}

.btn-add-question{
    margin-top: 9px;
    margin-right: -14px;
}

.page-login:before {
    background-image: url(../img/cartagena_photo.jpg);
}

.initial-div{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 20px 10px rgba(0,0,0,0.75);
    border-radius: 7px;
    border-radius: 7px;
    background-color: #7e9abfad;
}

.first-options-button{
    display: block;
    left: 10.7rem;
}

.second-options-button{
    display: block;
    left: 5.5rem;
}

.answer{
    color: black;
    min-width: 55rem;
    max-width: 101rem;
}

.answering { 
    text-align: left;
}

.progress-bar-margin {
    position: relative;
    margin-top: 3rem;
}

