<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    </button>
    <h4 class="modal-title">Crear un nuevo cuestionario</h4>
</div>
<div class="modal-body">
    <form ng-submit="createQuestionary()">


        <div class="row">
            <div class="col-lg-12 form-group">
                <input type="text" class="form-control" ng-model="questionary.name" placeholder="Nombre">

            </div>

            <div class="col-lg-12 form-group">
                <textarea class="form-control" rows="5" ng-model="questionary.description"
                    placeholder="Descripcion"></textarea>
            </div>
            <div class="col-sm-12 pull-right">
                <button class="btn btn-primary btn-outline" data-dismiss="modal" type="submit">Guardar
                </button>
            </div>
        </div>
    </form>
</div>