<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
        <h3 class="modal-title">Eliminar cuestionario</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                    <h4>Está seguro de querer borrar este cuestionario?</h4>
                    <p>Al eliminar este cuestionario se perderá todas las preguntas y respuestas del mismo y no se podrán recuperar!</p>
            </div>
            <div class="col-sm-12 pull-right">
                <button class="btn btn-primary btn-outline pull-right" data-dismiss="modal" ng-click="deleteQuestionary()">Confirmar
                </button>
            </div>
        </div>
    </div>