<div class="modal fade"> 
    <div class="modal-dialog modal-lg"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button> 
                <form>
                    <h3 class="flow-text">Nombre del evento:</h3> <h2><input type="text" placeholder="{{vm.cuestionario.nombre}}"></h2> 
            </div> 
                <div class="modal-body flow-text">
                    
                        <div class=" left-align " ng-repeat="pregunta in vm.cuestionario.preguntas track by $index">
                            <h4 class="flow-text">Pregunta {{$index+1}}:</h4>
                            <input type="text" placeholder="{{pregunta.valor}}">
                            <h4 class="flow-text">Respuestas:</h4>
                            <ol>
                                <div ng-repeat="respuestas in pregunta.respuestas">                                                                               
                                    <li> <input type="text" placeholder="{{respuestas.valor}}"></li>                                      
                                </div>
                            </ol>
                        </div> 
                    </form>                                  
                    
                </div> 
                <div class="modal-footer">
                    <button class="btn  green"style="margin-left: 3%">Enviar</button>
                    <button class="btn  brown" style="margin-left: 10%" ng-click="close()" data-dismiss="modal">Cancelar</button> 
                     
                </div> 
        </div> 
    </div> 
</div>


