<nav
    class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega navbar-inverse"
    role="navigation"
>
    <div class="navbar-header">
        <div
            class="navbar-brand navbar-brand-center site-gridmenu-toggle active"
            data-toggle="gridmenu"
            aria-expanded="true"
        >
            <!-- <img class="navbar-brand-logo" src="assets/images/logo.png" title="Remark"> -->

            <span class="navbar-brand-text hidden-xs-down">CaQui Questions!</span>
        </div>
    </div>

    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->

        <div
            class="collapse navbar-collapse navbar-collapse-toolbar"
            id="site-navbar-collapse"
        ></div>

        <div
            class="collapse navbar-search-overlap"
            id="site-navbar-search"
        >
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i
                            class="input-search-icon md-search"
                            aria-hidden="true"
                        ></i>

                        <input
                            type="text"
                            class="form-control"
                            name="site-search"
                            placeholder="Search..."
                        ></input>

                        <button
                            type="button"
                            class="input-search-close icon md-close"
                            data-target="#site-navbar-search"
                            data-toggle="collapse"
                            aria-label="Close"
                        ></button>
                    </div>
                </div>
            </form>
        </div>

        <!-- End Site Navbar Seach -->
    </div>
</nav>

<!-- Page -->

<div
    class="page animation-fade page-profile"
    ui-view="ui-view"
>
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <!-- Page Widget -->

                <div class="widget widget-shadow text-center">
                    <div class="widget-header">
                        <div class="widget-header-content">
                            <a
                                class="avatar avatar-lg"
                                href="javascript:void(0)"
                            >
                                <img
                                    alt="..."
                                    src="/img/profile.webp"
                                >
                            </a>

                            <h4 class="profile-user ng-binding">MARIA TERESA GOMEZ GUERRERO</h4>

                            <p class="profile-job ng-binding">DERECHO</p>

                            <address class="ng-binding">
                                <strong>Informacion de contacto</strong>

                                <br>

                                <abbr title="Direccion">Direccion:</abbr>

                                CASTILLO CALLE 5a  # 13-76EDIF PINANGO apto 404

                                <br>

                                <abbr title="Correo">Correo:</abbr>

                                <a
                                    href="mailto:T00001286@UTBVIRTUAL.EDU.CO"
                                    class="ng-binding"
                                >T00001286@UTBVIRTUAL.EDU.CO</a>

                                <br>

                                <abbr title="Telefono">Telefono:</abbr>

                                575-6445756
                            </address>
                        </div>
                    </div>

                    <div class="widget-footer">
                        <div class="row no-space">
                            <div class="col-xs-4">
                                <strong class="profile-stat-count">Codigo</strong>

                                <span class="ng-binding">T00001286</span>
                            </div>

                            <div class="col-xs-4">
                                <strong class="profile-stat-count">Edad</strong>

                                <span class="ng-binding">56</span>
                            </div>

                            <div class="col-xs-4">
                                <strong class="profile-stat-count">Sexo</strong>

                                <span class="ng-binding">F</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Page Widget -->
            </div>

            <div class="col-lg-9">
                <!-- Panel -->

                <div class="panel">
                    <div class="panel-body nav-tabs-animate">
                        <uib-tabset active="">
                            <uib-tab
                                index="0"
                                heading="Questionarios"
                            >
                                <button
                                    type="button"
                                    class="btn btn-floating btn-danger btn-add-riesgo pull-right"
                                >
                                    <i
                                        class="icon wb-plus"
                                        aria-hidden="true"
                                    ></i>
                                </button>

                                <div class="tab-content animation-fade col-md-12 questionary">

                                    <div
                                        class="alert alert-info alert-dismissible"
                                        role="alert"
                                        ng-if="archivoPersonal.length == 0"
                                    >
                                        <i
                                            class="icon  wb-info-circle"
                                            aria-hidden="true"
                                        ></i>

                                        No hay cuestionarios agregados para este usuario
                                    </div>

                                    <div class="media is-loading">
                                        <div class="media-left">
                                            <img
                                                ng-if="archivo.usuarios_codigo"
                                                src="/"
                                                alt=""
                                                class="avatar"
                                            >

                                            <i></i>
                                        </div>

                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="media-heading">Cuestionario #1</h4>

                                                    <p
                                                        class="name"
                                                        ng-if="archivo.fecha_reporte"
                                                    >
                                                        Fecha de reporte:
                                                        {{archivo.fecha_reporte}}
                                                    </p>

                                                    <p class="name">
                                                        Descripcion: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="pull-left btn-show-estrategias">
                                            <button
                                                type="button"
                                                ng-click="archivo.isShowEstrategias = !archivo.isShowEstrategias"
                                                class="btn btn-outline btn-icon btn-primary btn-round"
                                            >
                                                <i
                                                    class="icon wb-chevron-down"
                                                    aria-hidden="true"
                                                    ng-class="{'wb-chevron-down': archivo.isShowEstrategias == false || !archivo.isShowEstrategias , 'wb-chevron-up': archivo.isShowEstrategias == true }"
                                                ></i>
                                            </button>
                                        </div>
                                    </div>

                                    <hr>

                                    <div uib-collapse="archivo.isShowEstrategias">
                                        <div
                                            class="tab-pane animation-fade active margin-top-35"
                                            id="all_contacts"
                                            role="tabpanel"
                                        >
                                            <h4 class="example-title">Preguntas</h4>

                                            <button
                                                type="button"
                                                ng-disabled="archivo.id==0"
                                                ui-sref="main.personal.estrategia({archivoId:archivo.id,riesgoId:archivo.riesgo.id})"
                                                class="btn btn-floating btn-success btn-sm btn-add-estrategia pull-right"
                                            >
                                                <i
                                                    class="icon wb-plus"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>

                                            <br>

                                            <ul class="list-group">
                                                <div
                                                    class="alert alert-info alert-dismissible"
                                                    role="alert"
                                                    ng-if="ng-if"
                                                    archivo.intervenciones.length="archivo.intervenciones.length"
                                                >
                                                    <div">
                                                        <i
                                                            class="icon  wb-info-circle"
                                                            aria-hidden="true"
                                                        ></i>

                                                        No hay preguntas en este cuestionario
                                                    </div">
                                                </div>

                                                <li class="question-list">
                                                    <div class="">
                                                        <div class="">
                                                            <h4 class="">
                                                                ¿Cuantos años tiene Pedro Muriel?

                                                                <small>(Multiple)</small>
                                                            </h4>

                                                            <div class="row">
                                                                <div class="col-md-7">
                                                                    <ul class="">
                                                                        <li class="mb-15">
                                                                            <label for="inputUnchecked">1 año</label>
                                                                        </li>

                                                                        <li class="mb-15">
                                                                            <label for="inputUnchecked">2 años</label>
                                                                        </li>

                                                                        <li class="mb-15">
                                                                            <label for="inputUnchecked">4 años</label>
                                                                        </li>

                                                                        <li class="mb-15">
                                                                            <label for="inputUnchecked">30 años</label>
                                                                        </li>
                                                                    </ul>

                                                                    <button
                                                                        type="button"
                                                                        ng-disabled="archivo.id==0"
                                                                        ui-sref="main.personal.estrategia({archivoId:archivo.id,riesgoId:archivo.riesgo.id})"
                                                                        class="btn btn-floating btn-info btn-sm pull-left btn-add-answer"
                                                                    >
                                                                        <i
                                                                            class="icon wb-plus"
                                                                            aria-hidden="true"
                                                                        ></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <hr>
                                    </div>
                                </div>

                                <div class="tab-content animation-fade col-md-12 questionary">
                                    <br>

                                    <div
                                        class="alert alert-info alert-dismissible"
                                        role="alert"
                                        ng-if="archivoPersonal.length == 0"
                                    >
                                        <i
                                            class="icon  wb-info-circle"
                                            aria-hidden="true"
                                        ></i>

                                        No hay cuestionarios agregados para este usuario
                                    </div>

                                    <div class="media is-loading">
                                        <div class="media-left">
                                            <img
                                                ng-if="archivo.usuarios_codigo"
                                                src="/"
                                                alt=""
                                                class="avatar"
                                            >

                                            <i></i>
                                        </div>

                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="media-heading">Cuestionario #2</h4>

                                                    <p
                                                        class="name"
                                                        ng-if="archivo.fecha_reporte"
                                                    >
                                                        Fecha de reporte:
                                                        {{archivo.fecha_reporte}}
                                                    </p>

                                                    <p class="name">
                                                        Descripcion: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="pull-left btn-show-estrategias">
                                            <button
                                                type="button"
                                                ng-click="archivo.isShowEstrategias = !archivo.isShowEstrategias"
                                                class="btn btn-outline btn-icon btn-primary btn-round"
                                            >
                                                <i
                                                    class="icon wb-chevron-down"
                                                    aria-hidden="true"
                                                    ng-class="{'wb-chevron-down': archivo.isShowEstrategias == false || !archivo.isShowEstrategias , 'wb-chevron-up': archivo.isShowEstrategias == true }"
                                                ></i>
                                            </button>
                                        </div>
                                    </div>

                                    <hr>

                                    <div uib-collapse="archivo.isShowEstrategias">
                                        <div
                                            class="tab-pane animation-fade active margin-top-35"
                                            id="all_contacts"
                                            role="tabpanel"
                                        >
                                            <h4 class="example-title">Preguntas</h4>

                                            <button
                                                type="button"
                                                ng-disabled="archivo.id==0"
                                                ui-sref="main.personal.estrategia({archivoId:archivo.id,riesgoId:archivo.riesgo.id})"
                                                class="btn btn-floating btn-success btn-sm btn-add-estrategia pull-right"
                                            >
                                                <i
                                                    class="icon wb-plus"
                                                    aria-hidden="true"
                                                ></i>
                                            </button>

                                            <br>

                                            <ul class="list-group">
                                                <div
                                                    class="alert alert-info alert-dismissible"
                                                    role="alert"
                                                    ng-if="ng-if"
                                                    archivo.intervenciones.length="archivo.intervenciones.length"
                                                >
                                                    <div">
                                                        <i
                                                            class="icon  wb-info-circle"
                                                            aria-hidden="true"
                                                        ></i>

                                                        No hay preguntas en este cuestionario
                                                    </div">
                                                </div>

                                                <li class="question-list">
                                                    <div class="">
                                                        <div class="">
                                                            <h4 class="">
                                                                ¿Cuantos años tiene Pedro Muriel?

                                                                <small>(Multiple)</small>
                                                            </h4>

                                                            <div class="row">
                                                                <div class="col-md-7">
                                                                    <ul class="">
                                                                        <li class="mb-15">
                                                                            <label for="inputUnchecked">1 año</label>
                                                                        </li>

                                                                        <li class="mb-15">
                                                                            <label for="inputUnchecked">2 años</label>
                                                                        </li>

                                                                        <li class="mb-15">
                                                                            <label for="inputUnchecked">4 años</label>
                                                                        </li>

                                                                        <li class="mb-15">
                                                                            <label for="inputUnchecked">30 años</label>
                                                                        </li>
                                                                    </ul>

                                                                    <button
                                                                        type="button"
                                                                        ng-disabled="archivo.id==0"
                                                                        ui-sref="main.personal.estrategia({archivoId:archivo.id,riesgoId:archivo.riesgo.id})"
                                                                        class="btn btn-floating btn-info btn-sm pull-left btn-add-answer"
                                                                    >
                                                                        <i
                                                                            class="icon wb-plus"
                                                                            aria-hidden="true"
                                                                        ></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <hr>
                                    </div>
                                </div>

                                <hr>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>

                <!-- <uib-tab index="1" heading="Academica">
                                  <div class="tab-content animation-fade">
                                      Informacion Academica
                                  </div>
                              </uib-tab> -->
            </div>
        </div>

        <!-- End Panel -->
    </div>
</div>

<!-- End Page -->
<!-- Footer -->

<footer class="site-footer">
    <div class="site-footer-right">© 2019</div>

    <div class="text-center">
        Js.mantilla

        <i class="green-600 wb wb-heart"></i>
    </div>
</footer>

<script
    type="text/ng-template"
    id="alertas.html"
>
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">{{data.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="" role="alert">

                    <p class="font-size-20"> {{data.text}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">{{data.cancel}}</button>
                <button type="button" class="btn btn-primary" ng-click="ok()">{{data.ok}}</button>
            </div>
        </div>
    </div>
</script>